@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 800;
}

:root{
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
  --Neon-Green-active: hsl(150, 57%, 50%);
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--Dark-Blue);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.box {
  width: clamp(295px, 90%, 34rem);
  /* height: 40%; */
  background-color: var(--Dark-Grayish-Blue);
  color: var(--Light-Cyan);
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  font-family: "Manrope", sans-serif;
}

.advice-id{
  color: var(--Neon-Green);
  letter-spacing: 5px;
  margin: 28px 0;
}

.advice{
  font-size: 28px;
}

.divider{
  width: 70%;
  margin: 28px;
}

.circular-button {
  width: 70px;
  height: 70px;
  background-color: var(--Neon-Green);
  border: none;
  border-radius: 50%;
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.circular-button:hover{
  box-shadow: 0px 0px 20px var(--Neon-Green);
  transition: 0.2s;
}

.circular-button:active{
  background-color: var(--Neon-Green-active);
}

@media only screen and (max-width: 650px){
    .box{
      align-self: flex-start;
      margin-top: 8rem;
    }

    .advice-id{
      color: var(--Neon-Green);
      letter-spacing: 5px;
      margin: 28px 0;
      font-size: 12px;
    }

    .divider{
      width: 90%;
      margin: 28px;
    }
    
}